*{
    padding:0;
    margin-top: 0;
}
body{
    background-color: #f5f5f5;
    background-image: linear-gradient(to right, #1E2738,#202020,#50505f,#262641,#2E313A,#1B334C);
    padding-right: 20px;
}

.title{
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    color: orange;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
}

#AttendanceVid{
    height: 150px;
    width: 150px;
}
.flex-container{

    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:left;
    gap: 10px;
}
.flex{
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    height: 120px;
    box-shadow: 0px 0px 5px 5px #ce8a5d;

}
.heading{
    display: flex;
    font-size: 28px;
    color: orange;
    font-weight: bold;
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}
.progress-bar{
    display: grid;
    grid-template-columns: 1fr;
    background-color: green;
    width: 30%;
    max-width: 100%;
    height: 20px;
    border-radius: 10px;
}
@media (max-width:768px){
    .flex{
        width: 160px;
        margin-left: 30px;        
    }
    .heading{
        font-size: 23px;
    }

}
@media (max-width:425px){
    .flex{
        width: 220px;
        margin-left: 10px;        
    }
    .heading{
        font-size: 25px;
    }

}