*{
    padding:0;
    margin-top: 0;
}
body{
    background-color: #f5f5f5;
}
#heading:hover{
        color:  rgba(218, 165, 32, 0.747);
}
#heading{
    display: flex;
    flex-flow: row wrap;
    color: black;
    padding: 30px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
}
#AttendanceVid{
    margin-top: -20px;
    margin-right: 250px;
    height: 150px;
    width: 200px;
}
.flex-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

#flex1{

    width: 40%;
    height: 400px;
    margin-left: 100x  ;
    padding-top: 30px;
}

#flex2{
    margin-top: -30px;
    width: 40%;
    height: 400px;
}
#QalamID{
    color:black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    padding-left: 20px;
}
#QalamInput{
    padding-left: 10px;
    color:black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    border-radius: 15px;
    border-color: black;
    width: 50%; 
    height: 30px;
}

#Password{
    padding-left: 20px;
    color:black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
}

#PasswordInput{
    padding-left: 10px;
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    border-radius: 15px;
    border-color: black;
    width: 50%;
    height: 30px;
}


.MarkButton{
    margin-left: 170px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: black;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
   
}
.MarkButton:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
}

#Record{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: rgba(218, 165, 32, 0.747);;
    font-size: 40px;

}
