*{
    padding:0;
    margin: 0;
}

body{
    background-color: #f5f5f5;
    background-image: linear-gradient(to right, #1E2738,#202020,#50505f,#262641,#2E313A,#1B334C);
    padding-right: 20px; 
}
.heading{
    display: flex;
    flex-flow: row wrap;
    color: orange;
    padding: 30px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
}

.input{
    display: flex;
    flex-direction: row; 
}
.flex-container{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;

}
.enterheading{
    color:orange;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    padding-left: 20px;

}

.inputfield{
    color:orange;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    border-radius: 8px;
    border-color: black;
    width: 25vmax; 
    height: 25px;
    padding: 2px 5px 2px 5px;

}
.table{
    margin-left: auto;
    margin-right: auto;
}
table{

    margin-top: 40px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 75%;
}

th{
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    width: 30%;
    background-color: rgba(218, 165, 32, 0.747);
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
tr{
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
td{ 
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 30%;
}

@media (min-width:426px) and (max-width:768px){

    .enterheading{
        font-size:20px ;
    }
    .inputfield{
        font-size: 20px;
        height: 18px;
    }
    th{
        font-size: 20px;
    }
    td{
        font-size: 15px;
    }
}

@media (max-width:425px){
    .enterheading{
        font-size:17px ;
    }
    .inputfield{
        font-size: 15px;
        height: 13px;
        width: 100px;
    }
    th{
        font-size: 15px;
    }
    td{
        font-size: 13px;
    }
}