body{
    background-image:url(https://images.unsplash.com/photo-1618556450994-a6a128ef0d9d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGJsdWUlMjBhbmQlMjBwdXJwbGUlMjBncmFkaWVudHxlbnwwfHwwfHw%3D&w=1000&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#FormTitle{
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#FormTitle:hover{
    color: blue;
}

.grid-container{
    margin-left: 30px;  
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.item{ 
    border-radius: 15px;
    padding-bottom: 10px;
    height: 80px;
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-items: center;
} 
.heading{
    font-size: 25px;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    color:black;
    width: 200px;
}
.inputfield{
    margin-top: 15px;
    font-size: 15px;
    margin-left: -10px;
    width: 600px;
    height: 30px;
    color:black;
    border-radius: 15px;
    padding-left: 10px;
}

#submitbutton{
    font-style: normal;
    font-weight: bold;
    margin: 30px;
    margin-right: 150px;
    color: black;
    font-size: 20px;
    border-radius: 10px; 
    padding: 5px;
    float: right;
}

#submitbutton:hover{
    cursor: pointer;
    background-color: darkblue;
    color: white;
}
/* #sameasabove{
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}
#address{

    display: flex;
    justify-items: left;
} */