body{
    background-color: whitesmoke;
}
#FormTitle{
    text-align: center;
    font-size: 30px;
    color: darkgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#FormTitle:hover{
    color: blue;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
}
.flex-container > div{
    border: 1px solid black;
    margin:10px;
    width:200px;
    text-align: center;
}