body{
    background-color: #f5f5f5;
    background-image: linear-gradient(to right, #1E2738,#202020,#50505f,#262641,#2E313A,#1B334C);
    padding-right: 20px; 
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#FormTitle{
    text-align: center;
    font-size: 30px;
    color: orange;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sample{
    width: 300px;
    height: 100px;
}
.sample_p{
    width: inherit;
    height: inherit;
}
.grid-container{
    margin-left: 30px;  
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.item{ 
    border-radius: 15px;
    padding-bottom: 10px;
    height: 80px;
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: center;
    justify-items: center;
} 
.heading{
    font-size: 25px;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    color:orange;
    width: 200px;
}
.image_container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.sample_photo{
    border: 2px solid red;
}
.image_uploader{
    border: 2px solid red;

}
.inputfield{
    margin-top: 15px;
    font-size: 15px;
    margin-left: -10px;
    width: 40vmax;
    height: 30px;
    color:black;
    border-radius: 15px;
    padding-left: 10px;
}

#submitbutton{
    font-style: normal;
    font-weight: bold;
    margin: 30px;
    margin-right: 150px;
    color: black;
    font-size: 20px;
    border-radius: 10px; 
    padding: 5px;
    float: right;
}

#submitbutton:hover{
    cursor: pointer;
    background-color: rgba(218, 165, 32, 0.747);
    color: white;
}
.tarea{
    border-radius: 25px;
    margin-top: 15px;
    border: 2px solid black;
    width: 40vmax;
    /* height: 40vmin; */
    /* font-size: 15px; */
}
/* #sameasabove{
    font-size: 18px;
    font-weight: bold;
    margin-left: 15px;
}
#address{
    display: flex;
    justify-items: left;
} */