html{
    /* height: 100%; */
    background-image: url(../images/hostel2.jpg);
    /* background-size: cover; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*{
    margin: 0%;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bio_form{
    width: 80%;
    border: 2px solid red;
    margin: 100px auto ;
    box-shadow: 50px 50px 8px #888888;
    animation-name: shadow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-iteration-count: ease-in-out;
    background-color: blanchedalmond;
    border-bottom-color: blueviolet;
    border-top-color: darkolivegreen;
    border-left-color: darkslategrey;
    border-right-color: indianred;
}
/* @keyframes shadow{
    from{
        box-shadow: 50px 50px 8px #888888;
        border: 2px solid red;
    }
    to{
        box-shadow: 50px 50px 8px #b10505;
        border: 5px solid #000;
    } 
 } */
 .h{
   font: 3em sans-serif;
 }
.heading{
    text-align: center;
    background-color:khaki;
    margin-top: 40px;
    font:  italic;
}
.inp_form{
    background-color: rgb(197, 219, 219);
    width: 90%;
    padding: 10px;
    /* border: 2px solid black; */
    margin: 30px auto ;
    /* border-radius: 2rem; */
}
.left{
    display: inline-block;
    width: 250px;
    /* background-color: rgb(214, 105, 174); */
    text-align: center;
    padding-top: 15px;
    margin: 20px ;
    font: 20px sans-serif;
    color:rgb(0, 0, 0);
    font-weight: bolder;
}
.inp{
    /* width: 500px; */
    width: 40vmax;
    height: 35px;
    border: 4px solid #000;
    border-spacing: 1rem;
    font: 20px sans-serif;
    font-weight: bolder;
}
#uname:hover{
    border: 2px soild red;
}

.bal{
    background-color: magenta;
}
.pun{
    background-color: rgb(223, 76, 76);
}
.sin{
    background-color: orangered;
}
.kpk{
    background-color: palegreen;
}
.fed{
    background-color: springgreen;
}

.prv{
    border: 4px solid #000;
}
.crs{
    font: 20px sans-serif;
    font-weight: bold;
    width: 40vmax;
    height: 35px;
}
.rc{
    color: deeppink;
    font: 17px sans-serif;
    font-weight: bolder;
}
.in{
    width: 200px;
}
.img{
    
    /* justify-content: flex-end; */
    width: 200px;
    height: 30px;
    border: 4px black solid;
    padding: 30px;
}
.box{
    display: flex;
    flex-direction: row-reverse;
}
 .blank{
    width: 200px;
    height: 30px;
}  
.adr{
    border: 4px solid #000;
    font: 10px sans-serif;
    font-weight: bolder;
    width: 40vmax;
}
.chk{
    display: inline-block;
    width: 50px;
    margin-right: 30px;
    margin-top: 5px;
    border: 2px solid red;
}
.btn{
    /* border: 2px solid red; */
    margin: 20px;
    padding-top:20px ;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.afd{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    /* border: solid 2px red; */
    margin-left: 20px;
}
.lbl{
    font-weight: bolder;
    font-size: larger;
}
.sub{
    /* border: 3px solid red; */
    background-color: rgb(166, 166, 206);
    padding: 10px;
    width: 90px;
    border-radius: 20%;
    box-shadow: 5px 5px 0px 0px gray;
    font-size: larger;
    text-transform: uppercase;
}
.sub:hover{
    border: khaki 5px solid;
}