*{
    padding:0;
    margin: 0;
}

body{
    background-color: #f5f5f5;
    background-image: linear-gradient(to right, #1E2738,#202020,#50505f,#262641,#2E313A,#1B334C);
    padding-right: 20px; 
}

.flex-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.title{
    display: flex;
    flex-flow: row wrap;
    color: black;
    padding: 30px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
}

#bgCalcVid{
    height: 100px;
    width: 100px;
}

table {
    margin-left: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid black;
    table-layout: fixed;
    width: 100%;
  }
th,tr{
    border: 2px solid black;
    border-collapse: collapse;
    font-family: Roboto;
    font-size: 26px;
    background-color: rgba(218, 165, 32, 0.747);
}

th{
    background-color: rgba(39, 140, 223, 0.795);
}
td{
    border: 2px solid black;
    border-collapse: collapse;
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
}

.enterHead{
    color:black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    flex-flow: column wrap;
}

.tableInput{
    color:black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    border-radius: 8px;
    border-color: black;
    width: 265px; 
    height: 25px;
    padding: 2px 5px 2px 5px;
    margin-left: 10px;
}



#submitbutton{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: black;
    font-size: 20px;
    border-radius: 10px; 
    padding: 5px;
}

#submitbutton:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.795);
    color: white;
}


#flex1{
    display: flex;
    flex-flow: column wrap;
    width: 600px;
    height: 400px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
}


#flex2{
    display: flex;
    width: 700px;
    height: 400px;
    justify-content: center;
    margin-right: 50px;
    align-items: flex-start;
    margin-top: 40px;
}

.input{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

#spend{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    color: black;
    font-size: 30px;    
}
.linebreak{
    display: block;
}
@media (min-width:902px) {
    .enterHead{
       margin-left: 10px;
    }
    .tableInput{
        margin-left: 10px;
    }
    table{
        margin-left: 20px;
        margin-right: -50px;
    }
}
@media (min-width:821px) and (max-width:878px) {
    #Amount{
        margin-right: 119px;
        margin-left: -109px;
        
    }
    #AmountInput{
        margin-left: 0px;
    }
    #Expense{
        margin-right: 119px;
        margin-left: -109px;
    }
    #ExpenseInput{
        margin-left: 0px;
    }
   
}
@media (min-width:792px) and (max-width:821px) {
    #Amount{
        margin-right: 119px;
        margin-left: -109px;
        
    }
    #AmountInput{
        margin-left: 0px;
    }
    #Expense{
        margin-right: 119px;
        margin-left: -109px;
    }
    #ExpenseInput{
        margin-left: 0px;
    }
    table{
        margin-left: -50px;
        margin-right: -50px;
    }
    th{
        font-size: 18px;
    }
    td{
        font-size: 15px;
    }
}
@media  (min-width:700px) and  (max-width:791px)  {
    #Amount{
        margin-right: 180px;
        margin-left: 20px;
        
    }
    #AmountInput{
        margin-left: 40px;
    }
    #Expense{
        margin-right: 180px;
        margin-left: 20px;
    }
    #ExpenseInput{
        margin-left: 40px;
    }
    table{
        margin-left: 20px;
        margin-right: -50px;
    }
    th{
        font-size: 18px;
    }
    td{
        font-size: 15px;
    }
}
@media  (min-width:600px) and  (max-width:699px)  {
    #Amount{
        margin-right: 105px;
        margin-left: 0px;
        
    }
    #AmountInput{
        margin-left: 40px;
        width: 200px;
    }
    #Expense{
        margin-right: 105px;
        margin-left: 0px;
    }
    #ExpenseInput{
        margin-left: 40px;
        width: 200px;
    }
    table{
        margin-left: -200 px;
        margin-right: -50px;
    }
    th{
        font-size: 18px;
    }
    td{
        font-size: 15px;
    }
}
@media(max-width:599px){
    .enterHead{
        margin-left: -50px;
        font-size: 30px;
    }
    .tableInput{
        margin-top: 10px;
        margin-left: 10px;
        width: 200px;
        height: 15px;
    }
    #submitbutton{
        font-size: 20px;
    }
    .flex-container{
        flex-direction: column;
    }
    #flex1{
        margin-left: 120px;
        margin-right: 0px;
    }
    #flex2{
        margin-top: -200px;
        margin-left: 110px;
        margin-right: 0px;
    }
    table{
        margin-left: 0px;
        width: 50%;
    }
    td{
        font-size: 28px;
    }
    th{
        font-size: 23px;
    }
} 

