body{
    background-color: whitesmoke;
}

#Heading{
    display: flex;
    flex-flow: row wrap;
    color: black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    
}

#bgCalcVid{
    height: 100px;
    width: 100px;
}

table{
    border: 1px solid black;
    width: 98%;
    height: 98%;
    justify-items : center;
    border-collapse: collapse;
    
}

th{
    height:45px;
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    background-color: rgba(218, 165, 32, 0.747);
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
}
tr{
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}
td{ 
    border: 1px solid black;
    border-collapse: collapse;
    color: black;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}