/* All indexes */
*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-flow: column wrap;
    height: max-content;
    width: 100%;
    height: 100%;
}

/* Top Bar */
#topBar{
    background-color: rgba(0, 0, 0, 0.904);
    padding: 8px 14px 8px 14px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.topIcons{
    width: 20px;
    height: 20px;
}

#signout{
    filter: invert(1);
}

#signout:hover{
    animation-name: jelly;
    animation-duration: 1500ms;
    animation-fill-mode: forwards;
}

#searchIcon{
    height: 17px;
}

#searchBox{
    border-radius: 5px;
    width: 350px;
    background-image: url(../images/search.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 17px;

}

#sideBox{
    width: 180px;
    height: 100%;
}

/* DASHBOARD */
#headingDashBoard{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid white;
}

#dashImg{
    height: 28px;
}

.DashOptions{
    display: none;
}

#navBar{
    width: 180px;
    height: 100%;
}

#navBarUl{
    background-color: rgba(0, 0, 0, 0.904);
    color:white;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 180px;
    padding-top: 30px;
    border: 1px solid black;
}

#navBar li{
    list-style: none;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    width: 100%;
    height: 40px;
    padding: 4px 0px 4px 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: white;
    transition: background-color;
    transition-duration: 800ms;
}

#navBar li:hover{
    color: black;
    background-color: white;
    cursor: pointer;
    color: black;
}

/* Animations */

@keyframes hoverDashboard {
    0%{
        transform: rotateX(90deg);
    }
    50%{
        transform: rotateX(0deg);
    }
    75%{
        transform: rotateX(-20deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

@keyframes jelly{
    0%{
        transform: rotateY(35deg);
    }
    50%{
        transform: rotateY(0deg);
    }
    75%{
        transform: rotateY(-35deg);
    }
    100%{
        transform: rotateY(0deg);
    }
}