body{
    background-color: #f5f5f5;
    background-image: linear-gradient(to right, #1E2738,#202020,#50505f,#262641,#2E313A,#1B334C);
    padding-right: 20px; 
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    text-align: center;
    font-size: 50px;
    color: orange;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.room{
    display: flex;
    margin-top: 5px;
    font-size: 20px;
    margin-left:40px;
    margin-right: -30px;
    flex-wrap: wrap;
    width: 350px;
    height: 180px;  
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 10px #202020;   

}

.items{
    display: flex;
    height: 180px;
    width: 1200px;
    box-shadow: 20px,20px,20px,20px darkgrey;
    margin-bottom: 40px;
    margin-left: 40px;
    padding-left: 20px;
       
}
.heading{
    display: flex;
    margin-left: 50px;
    font-size: 35px;
    color: orange;
    font-weight: bold;
    height: 180px;
    width: 250px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px 10px #ce8a5d;
}
