*{
    padding:0;
    margin: 0;
}
html{
    width: 100%;
}
body{
    width: 100%;
    background-color: #f5f5f5;
    background-image: linear-gradient(to right, #1E2738,#202020,#50505f,#262641,#2E313A,#1B334C);
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
#title{

    display: flex;
    flex-flow: row wrap;
    color: orange;
    padding: 30px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
}   
.flatheading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.items{ 
    display: flex;
    flex-flow: column wrap;
    margin-left: 40px;
    width: 50vmax;
    height: 180px;
    text-align: center;
    justify-content: center;
    box-shadow: 1px 1px 10px 10px #ce8a5d;
    margin-bottom: 10px;
}
.heading{
    font-size: 5rem;
    color: orange;
    font-weight: bold;
    justify-content: center;
    align-items: center;
} 
.roomflex{
    display: none;
}
.room{
    display: none;
}