*{
    margin: 0;
    padding: 0;
}

body{
    padding: 0px 15px 0px 15px;
    background-image: linear-gradient(to right, #1E2738,#202020,#50505f,#262641,#2E313A,#1B334C);
}

#info{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px 50px 5px 50px;
    border: 1px solid grey;
    width: 50%;
    /* color: purple; */
}

#right{
    background-color: grey;
    padding: 5px 15px 5px 15px;
}

#imgStd{
    border-radius: 50% 50%;
    height: 160px;
    width: 160px;
    border: 5px solid goldenrod;
    box-shadow: 5px 3px 15px black;
}

#monthlyBills{
    background-color: white;
    color: black;
}

#barChart{
    width: 50%;
    height: 50%;

}